[submodule "external/fmtlib"]
	path = external/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "external/jaeger-client-cpp"]
	path = external/jaeger-client-cpp
	url = https://github.com/jaegertracing/jaeger-client-cpp.git
[submodule "external/expected"]
	path = external/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "external/philslib"]
	path = external/philslib
	url = https://github.com/CppPhil/philslib.git
[submodule "external/GSL"]
	path = external/GSL
	url = https://github.com/microsoft/GSL.git
